{% extends 'app/index.html' %}

{% block content %}
<div class="form-container">
    <h2>Agregar Cita</h2>
    <form method="post">
        {% csrf_token %}
        
        <label for="id_tatuador">Tatuador:</label>
        {{ form.tatuador }}

        <label for="id_tatuador">Cliente:</label>
        {{ form.cliente }}

        <label for="id_fecha">Fecha:</label>
        {{ form.fecha }}

        <label for="id_hora">Hora:</label>
        {{ form.hora }}

        <button type="submit" class="login-button">Agregar Cita</button>
    </form>
</div>
{% endblock %}

