{% extends 'app/index.html' %}

{% block content %}
<div class="form-container">
    <h1 class="h1-form">Lista de Citas</h1>

    <form method="get" action="{% url 'citas' %}" class="filter-form">
        <label for="fecha">Seleccionar fecha:</label>
        <input type="date" name="fecha" value="{{ fecha_filtrada }}">
        <button type="submit" class="btn-filtrar">Filtrar</button>
        {% if fecha_filtrada %}
            <a href="{% url 'citas' %}" name="clear_filter" form="clear-filter-form" class="btn-eliminar-filtro">Borrar</a>
        {% endif %}
    </form>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
            <th>Cliente</th>
            <th>Acciones</th> 
        </tr>
        {% for cita in citas %}
            <tr>
                <td>{{ cita.fecha }}</td>
                <td>{{ cita.hora }}</td>
                <td>{{ cita.estado }}</td>
                <td>{{ cita.cliente.nombre }}</td>
                <td>
                    {% if cita.estado.nombre == "Solicitada" %}
                        {% if request.user.is_staff %}
                            <a href="{% url 'confirmar_cita' cita.cita_id %}">Confirmar</a>
                            <a href="{% url 'cancelar_cita_admin' cita_id=cita.cita_id %}">Cancelar</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No hay citas registradas.</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
