{% extends 'app/index.html' %}

{% block content %}
<body>
    <div class="container-privacidad">
        <section>
            <h2>1. Introducción</h2>
            <p>En Perla Negra Ink, nos comprometemos a proteger su privacidad. Esta política explica cómo recopilamos, usamos y protegemos la información personal que nos proporciona.</p>

            <h2>2. Información Recopilada</h2>
            <p>Recopilamos información personal cuando usted realiza una cita, se registra en nuestra página, o se comunica con nosotros. La información que recopilamos puede incluir su nombre, dirección, correo electrónico, número de teléfono, fecha de nacimiento, y detalles del tatuaje solicitado.</p>

            <h2>3. Uso de la Información</h2>
            <p>Usamos su información personal para proporcionar y mejorar nuestros servicios, incluyendo la gestión de citas, la atención al cliente, y el envío de información relevante sobre nuestros servicios.</p>

            <h2>4. Compartir Información</h2>
            <p>No compartimos su información personal con terceros, excepto cuando sea necesario para procesar pagos o cumplir con la ley. En tales casos, garantizamos que sus datos estarán protegidos.</p>

            <h2>5. Seguridad de la Información</h2>
            <p>Tomamos medidas de seguridad razonables para proteger la información personal contra el acceso no autorizado, la alteración o la destrucción.</p>

            <h2>6. Derechos del Usuario</h2>
            <p>Usted tiene derecho a acceder, corregir o eliminar su información personal. Si desea hacerlo, puede contactarnos a través de los canales establecidos en esta página.</p>

            <h2>7. Cambios en la Política de Privacidad</h2>
            <p>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Las modificaciones se publicarán en esta página.</p>

        </section>
    </div>
</body>

{% endblock %}