{% extends 'app/index.html' %}

{% block content %}
<body>
    <div class="container-terminos">

        <section>
            <h2>1. Aceptación de los Términos</h2>
            <p>Al utilizar los servicios de Perla Negra Ink, usted acepta estos Términos de Servicio y nuestra Política de Privacidad. Si no está de acuerdo con estos términos, por favor no utilice nuestros servicios.</p>

            <h2>2. Requisitos de Edad</h2>
            <p>Solo se permiten clientes mayores de 18 años para recibir un tatuaje. Si tiene menos de 18 años, deberá tener el consentimiento por escrito de un tutor legal para proceder con el tatuaje.</p>

            <h2>3. Consentimiento para el Tatuaje</h2>
            <p>Al recibir un tatuaje en Perla Negra Ink, usted confirma que no padece de ninguna condición médica que pueda poner en riesgo su salud o la de otros. El cliente entiende que un tatuaje es una intervención estética permanente.</p>

            <h2>4. Cuidado Posterior</h2>
            <p>Es responsabilidad del cliente seguir las instrucciones de cuidado posterior proporcionadas por el estudio para evitar infecciones o daños en el tatuaje.</p>

            <h2>5. Cancelaciones y Reembolsos</h2>
            <p>Si necesita cancelar o reprogramar su cita, debe hacerlo con al menos 48 horas de antelación. Los depósitos no son reembolsables.</p>

            <h2>6. Responsabilidad</h2>
            <p>Perla Negra Ink no será responsable de daños o lesiones que puedan ocurrir durante o después del tatuaje, siempre que se haya seguido correctamente el proceso de consentimiento informado y cuidado posterior.</p>

            <h2>7. Modificaciones a los Términos</h2>
            <p>Nos reservamos el derecho de modificar estos términos en cualquier momento. Cualquier cambio será publicado en esta página.</p>
        </section>
    </div>
</body>

{% endblock %}