
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.h1-form {
    text-align: center;
    color: #424242; /* Color del título */
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block; /* Asegura que las etiquetas ocupen todo el ancho */
}

input, select {
    padding: 10px;
    margin-bottom: 10px; /* Espaciado entre campos */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Asegura que los campos ocupen todo el ancho */
}

.login-button {
    padding: 10px;
    background-color: #424242;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #4cae4c;
}

.p-login {
    text-align: center; /* Centra el texto del pie de página */
    margin-top: 15px;
}

.tatuadores-list {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título de la lista de tatuadores */
.tatuadores-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Item individual de tatuador */
.tatuador-item {
    background-color: #16161693;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tatuador-item h2 {
    font-size: 1.6rem;
    color: #e7e4e4;
    margin-bottom: 10px;
}

.tatuador-item strong {
    color: #767676;
}

/* Mensaje cuando no hay tatuadores */
.tatuadores-list p {
    text-align: left;
    font-size: 1.2rem;
    color: #ffffff;
}

/* Estilo para la página de Contacto */
.contact-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #16161693;

}

.h1-form {
    text-align: center;
    color: #ffffff; /* Color del título */
    font-size: 2rem;
    margin-bottom: 30px;
}

.contact-info {
    text-align: left;
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.contact-info strong {
    text-align: left;
    color: #767676;
}

.contact-form {

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-contact {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

textarea {
    resize: vertical;
}

.contact-button {
    padding: 10px;
    background-color: #424242;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #4cae4c;
}

.contact-info a {
    color: #4cae4c;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.filter-form {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre los botones */
}

/* Estilos específicos para el botón Filtrar */
.btn-filtrar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-filtrar:hover {
    background-color: #0056b3;
}

/* Estilos específicos para el botón Eliminar Filtro */
.btn-eliminar-filtro {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-eliminar-filtro:hover {
    background-color: #c82333;
}