/* Estilos para el navbar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el navbar esté sobre otros elementos */
    background-color: #333; /* Fondo oscuro para el navbar */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de elevación */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

/* Ajuste para el contenido */
.container {
    padding-top: 70px; /* Espacio para que el contenido no esté cubierto por el navbar */
}

/* Estilos del menú desplegable */
/* Estilos adicionales para el botón de Cerrar Sesión */
.logout-button {
    color: white;
    padding: 12px 16px;
    background-color: #333; /* Fondo oscuro similar al de los otros elementos del dropdown */
    border: none;
    width: 100%; /* Asegura que el botón ocupe todo el ancho del menú desplegable */
    text-align: left; /* Alineación del texto a la izquierda */
    cursor: pointer;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: #575757; /* Efecto hover similar a los enlaces */
}


/* Estilos del dropdown */
.dropdown .dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav .logo-nav {
    position: absolute; 
    left: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    width: auto; 
    height: 40px; 
    margin: 0; 
    padding: 0; 
}

nav .user-info {
    position: absolute; 
    right: 5px; 
    top: 50%; 
    transform: translateY(-50%); 
    width: auto; 
    height: 40px; 
    margin-top: 10px;
    padding: 0; 
}
